body {
  margin: 0;
  background: radial-gradient(circle at top, #0b1025, #02040a);
  font-family: 'Segoe UI', system-ui, sans-serif;
  color: #fff;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.controls {
  display: flex;
  gap: 12px;
  margin-bottom: 15px;
}

button {
  background: #00ffc8;
  border: none;
  padding: 10px 20px;
  font-weight: 800;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 15px #00ffc8;
}

select {
  background: #10163a;
  color: white;
  border-radius: 10px;
  padding: 6px;
}

#globalScore {
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 10px;
  color: #00ff88;
  text-shadow: 0 0 8px #F300FF;
}
